* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #E82809;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.colaboradores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 15%;
}

.colaborador {
  background-color: #000;
  text-align: center;
  height: 220px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colaborador img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 3px solid #E82809;
  margin-bottom: 10px;
}



.contatos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contatos a {
  margin: 0 5px;
}

.contatos img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}
