@font-face {
  font-family: "Times New Roman MT Condensed";
  src: url("assets/fonts/Times\ New\ Roman\ MT\ Condensed\ Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "DM Sans";
  font-weight: bolder;
  background-color: black;
  height: 15vh;
  align-items: center;
  cursor: pointer;
}

li {
  list-style-type: none;
  color: #f5583f;
}

a {
  text-decoration: none;
}

header a {
  color: inherit;
}

.container-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  margin-top: 10vh;
}

.text {
  color: #d34630;
  font-family: "Times New Roman MT Condensed", serif;
  text-shadow: 0 0 5px rgba(255, 22, 0, 0.7), 0 0 10px rgba(255, 22, 0, 0.5),
    0 0 15px rgba(255, 22, 0, 0.4), 0 0 20px #9d1600;
  text-align: center;
}

.picture img {
  max-width: 100%;
  height: auto;
}

#cidade {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-size: 3em;
}

#nome-evento {
  font-size: 2.5em;
}

.ingresso {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#comprar-ingresso {
  padding: 10px 30px;
  font-size: 1.2em;
  color: #d34630;
  background-color: transparent;
  border: 2px solid #d34630;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

#comprar-ingresso:hover {
  color: white;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  color: #f5583f;
  cursor: pointer;
  z-index: 3;
}

#mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #9d1600;
  text-align: center;
  z-index: 3;
  padding: 20px 0;
  font-family: "DM Sans";
}

#mobile-menu li {
  padding: 15px 0;
  color: white;
}

#mobile-menu a {
  color: white;
}

#mobile-menu .close-btn {
  font-size: 2em;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-open #mobile-menu {
  display: block;
}

@media (max-width: 768px) {
  .container-main {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-size: cover;
    background-position: center;
  }

  .text {
    z-index: 2;
    color: #e82809;
    font-family: "Times New Roman MT Condensed", serif;
    text-shadow: 0 0 5px rgba(255, 22, 0, 0.7), 0 0 10px rgba(255, 22, 0, 0.5),
      0 0 15px rgba(255, 22, 0, 0.4), 0 0 20px #9d1600;
    margin-top: 40vh;
  }

  .picture {
    position: absolute;
  }

  .picture img {
    height: 60vh;
    object-fit: cover;
    filter: grayscale(70%);
    margin-top: -10vh;
  }

  #cidade {
    font-size: 4em;
  }

  #nome-evento {
    font-size: 3.4em;
  }

  #comprar-ingresso {
    color: #e82809;
    font-size: 1em;
  }
}
